################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobileapp/SmartShopping/SmartShopping/SmartShopping.Android/bin/Debug
