################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobileapp/SmartShopping/SmartShopping/SmartShopping.Android/bin/Debug
/mobileapp/SmartShopping/SmartShopping/SmartShopping.Android/obj
/mobileapp/SmartShopping/SmartShopping/SmartShopping.iOS/obj/iPhone/Debug
/mobileapp/SmartShopping/SmartShopping/SmartShopping.iOS/obj
/mobileapp/SmartShopping/SmartShopping/SmartShopping/bin/Debug/netstandard2.0
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/SmartShopping.csproj.nuget.g.targets
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/SmartShopping.csproj.nuget.g.props
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/SmartShopping.csproj.nuget.cache
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/project.assets.json
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0/SmartShopping.pdb
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0/SmartShopping.dll
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0/SmartShopping.csprojAssemblyReference.cache
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0/SmartShopping.csproj.FileListAbsolute.txt
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0/SmartShopping.csproj.CoreCompileInputs.cache
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0/SmartShopping.AssemblyInfoInputs.cache
/mobileapp/SmartShopping/SmartShopping/SmartShopping/obj/Debug/netstandard2.0
/mobileapp/SmartShopping/.vs/SmartShopping/v15
